<!-- <main>
  <div class="grid grid-cols-2 bg-amber-50">
    <div>
      <img src="../../../assets/hero.jpeg" alt="New River Gorge Bridge">
    </div>
    <div class="self-center px-3">
      <h1 class="text-7xl font-light">Almost Heaven.</h1>
      <h1 class="text-8xl text-green-800 font-bold">West Virginia.</h1>
      <p class="text-lg">
        Escape to Almost Heaven! Hike epic mountains, paddle wild rivers, and bike scenic trails in West Virginia.
        Immerse in rich Appalachian culture: savor comfort food, hear lively folk music, and explore historic towns. 
        Discover unique artisan crafts, from quilts to glassblowing, and find treasures to take home. Adventure awaits! 
      </p>
    </div>
  </div>
</main> -->

<main>
   <!-- Hero section -->
   <div class="relative isolate overflow-hidden bg-gray-900 pb-16 pt-14 sm:pb-20">
    <img src="../../../assets/hero.jpeg" alt="" class="absolute inset-0 -z-10 h-full w-full object-cover">
    <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
      <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-20 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
    </div>
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl py-[49px] sm:py-[32px] lg:py-[55px]">
        <div class="text-center bg-white py-5 px-2 rounded-xl shadow-xl bg-opacity-95">
          <h1 class="text-7xl font-light">Almost Heaven.</h1>
          <h1 class="text-8xl text-green-800 font-bold">West Virginia.</h1>
          <p class="text-lg mt-1 md:mt-3">
            Escape to Almost Heaven! Hike epic mountains, paddle wild rivers, and bike scenic trails in West Virginia.
            Immerse in rich Appalachian culture: savor comfort food, hear lively folk music, and explore historic towns. 
            Discover unique artisan crafts, from quilts to glassblowing, and find treasures to take home.
          </p>
          <p class="text-lg font-bold mt-1 capitalize">
            Your next Adventure awaits! 
          </p>
          <button class="text-md text-white bg-green-800 rounded-md py-1 px-3 mt-3 mx-1">
            Local Businesses
          </button>
          <button class="text-md text-green-800 bg-transparent font-bold border-green-800 border-2 rounded-md py-1 px-3 mt-3 mx-1 hover:bg-green-700 hover:text-white">
            Plan Your Next Trip
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- grids -->
  <div class="grid grid-cols-1 md:grid-cols-3 gap-4 px-4 my-2 py-2">
    <div class="bg-gray-100 shadow-md rounded-lg overflow-hidden p-4">
      <img src="placeholder.jpg" alt="Item image" class="w-full mx-auto mb-4">
      <h3 class="font-semibold text-lg">Item 1</h3>
      <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Aenean euismod bibendum laoreet.</p>
      <a href="#" class="inline-flex items-center px-3 py-2 rounded-md font-medium text-white bg-green-600 hover:bg-green-700">Read More</a>
    </div>
    <div class="bg-gray-100 shadow-md rounded-lg overflow-hidden p-4">
      <img src="placeholder.jpg" alt="Item image" class="w-full mx-auto mb-4">
      <h3 class="font-semibold text-lg">Item 2</h3>
      <p class="mb-4">In hac habitasse platea dictumst. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
      <a href="#" class="inline-flex items-center px-3 py-2 rounded-md font-medium text-white bg-green-600 hover:bg-green-700">Buy Now</a>
    </div>
  </div>
</main>